@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 85vh;
  background-color: rgba(255, 249, 249, 0.312);
}

nav {
  z-index: 2;
}

main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.logoLink {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-size: 1.5rem;
}

#registerModal,
#loginModal {
  margin-top: 0rem;
}

input,
button,
#basic-addon1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.modal-content {
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#modalImage {
  max-width: 100%;
}

.modal-profile-image {
  height: 8%;
  width: 8%;
  border-radius: 50%;
}

.modal-comments {
  max-height: 200px;
  overflow-y: scroll;
}

.modal-comment {
  border-radius: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#postsContainer {
  min-width: 50vw;
  z-index: 1;
  gap: 1rem;
}

.postContainer {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}

.commentInput {
  width: 100%;
  height: 5rem;
  padding: 1rem 4rem 0rem 1rem;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.sendComment {
  position: absolute;
  width: 30px;
  right: 3rem;
  margin-top: 2.8rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.sendComment:hover {
  transform: scale(1.1);
}

.postModal {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.631);
}

html::-webkit-scrollbar,
.modal-comments::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-thumb,
.modal-comments::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

.createSort {
  min-width: 20vw;
  margin-top: 1.5rem;
}

.createSort > * {
  font-size: 1.2rem;
  transition: ease-in-out 200ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.createSort > *:hover {
  transform: scale(1.06);
}

.modal-reactions {
  width: 100%;
}

.modal-reaction {
  max-width: 1.8rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.modal-reaction:hover {
  transform: scale(1.2);
}

.modal-reactionCount {
  margin: 0.5rem 0 0.5rem 0.7rem;
}

.reaction-icon {
  width: 1.3rem;
  height: 1.3rem;
}

/* LOADING */
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin-top: 7rem;
  margin-bottom: 18rem;
  scale: 1.5;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #ededed;
  box-shadow: 30px 0 0 #0d6dfd9e;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #0d6dfd9e;
  box-shadow: 30px 0 0 #ededed;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #0d6dfd9e;
  }
  50% {
    box-shadow: 0 0 0 #0d6dfd9e;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #0d6dfd9e;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #ededed;
  }
  50% {
    box-shadow: 0 0 0 #ededed;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ededed;
    margin-top: 0;
  }
}
